body {
	position: fixed;
	margin: 0;
	height: 100%;
	width: 100%;
}

main{
	position: relative;
	border-radius: 1%;
	display: grid;
	overflow: hidden;
	outline: 5px solid #183153;
	background-color: white;
}

main > .col > div{
	transition: background-color ease 0.2s;
}	

footer{
	outline: 5px solid #11233b;
	/*width: 50%;
	height: 20%;*/
	position: relative;
	border-radius: 1%;
	top: 10%;
	display: flex;
	justify-content: space-around;
	padding: 0px;
	align-items: center;
	background-color: #F2F2F2;
	z-index: 5;
}

aside{
	padding-top: 3px;
	outline: 3px solid #183153;
	position: fixed;
	width: 70px;
	height: 70px;
	top: 300px;
	background-color: #F2F2F2;
	border-radius: 10%;
}

i{
	text-align: center;
	width: 100%;
	height: 50%;
}

aside > h3{
	height: 50%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #183153;
}

/*Larger than 320 px*/
@media (min-width:  320px) {
	main > .col{
		display: grid;
		grid-template: repeat(3, 20px) / repeat(3, 20px);	
		width: 100%;
		padding: 0;
	}

	.container{
		height: 180px;
		width: 180px;
		padding: 0px;
		top: 15px;
	}

	footer{
		height: 90px !important;
		margin-top: 30px;
	}

	main{		
		display: grid;
		grid-template: repeat(3, 60px) / repeat(3, 60px);
	}
}

/*Larger than 768 px*/
@media (min-width:  768px) {
	main > .col{
		display: grid;
		grid-template: repeat(3, 40px) / repeat(3, 40px);	
		width: 100%;
		padding: 0;
	}

	.container{
		height: 360px;
		width: 360px;
		padding: 0px;
		top: 50px;
	}

	footer{
		height: 150px !important;
		margin-top: 50px;
	}

	.option1 > .col{
		height: 90px;
		width: 90px ;
		display: grid;
		grid-template: repeat(3, 30px) / repeat(3, 30px);
	}

	main{
		grid-template: repeat(3, 120px) / repeat(3, 120px);
		height: 630px;
	}
}

/*Larger than 1024 px*/
@media (min-width: 1024px){
	main > .col{
		display: grid;
		grid-template: repeat(3, 50px) / repeat(3, 50px);
		padding: 0;
		width: 100%;
	}

	.container{
		width: 450px;
		padding: 0px;
		top: 30px;
	}

	main{
		grid-template: repeat(3, 150px) / repeat(3, 150px);
		height: 450px !important;
		margin-top: 5%;
	}

	footer{
		height: 170px !important;
		width: 450px;
		margin-top: 50px;
	}

	.option1 > .col{
		height: 120px;
		width: 120px ;
		display: grid;
		grid-template: repeat(3, 40px) / repeat(3, 40px);
	}
}

/*Larger than 1200 px*/
@media (min-width:  1200px) {
	main > .col{
		display: grid;
		grid-template: repeat(3, 70px) / repeat(3, 70px);	
		width: 210px;
		padding: 0;
	}

	.container{
		width: 630px;
		padding: 0px;
		top: 0%;
	}

	footer{
		height: 210px !important;
		margin-top: 25px;
	}

	.option1 > .col{
		height: 180px;
		width: 180px ;
		display: grid;
		grid-template: repeat(3, 60px) / repeat(3, 60px);
	}

	main{
		grid-template: repeat(3, 210px) / repeat(3, 210px);
		margin-top: 20px;
		height: 630px !important;
	}
}

.option1{
	height: auto;
	width: auto;
	padding: 0;
	z-index: 2;
}

.col{
	border: 2px solid #183153;
	padding: 0;
}

.col > *{
	border: 1px solid #4d82cb ;
}

.option1 > .col > *{
	position: fixed;
	border: none;
	/*transition: left 0.1s, top 0.1s;
	transition-timing-function: ease;*/
}

.two, .four, .six, .eight{
	background-color: #DDD;
}

.center:hover{
	background-color: blue;
}

.option1 > .col{
	border: none;
}

